body {
  background-color: #141414;
}

.netflix-logo {
	width: 150px;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 3vw;
  margin-top: 170px;
}

.profile {
  text-align: center;
}

.name {
  color: grey;
  font-size: 25px;
  text-align: center;
}

.button {
  color: grey;
  font-size: 20px;
  border: 1px solid grey;
  text-align: center;
  display: inline-block;
  margin-left: 650px;
}
