.name {
  text-align: center;
  font-size: 20px;
  word-spacing: 120px;
  color: #808080;
}

.button {
  word-spacing: normal;
  color: #808080;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  border: 1px solid
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 3.5vw;
  font-family: Bebas Neue; <-폰트 변경-->
}

body {
  background-color: #141414;
}

.netflix-logo {
	width: 150px;
}

.profile {
  margin-top: 2em;
  margin-bottom: 2em;
  display: block;
  text-align: center;
}

.groot {
  margin-right: 20px;
}

.gandalf {
  margin-right: 20px;
}

.max {
  margin-right: 20px;
}

.frank {
  margin-right: 20px;
}

.main {
  margin-top: 170px;
}
