.button {
  color: grey;
  font-size: 20px;
  border: 1px solid grey;
  text-align: center;
  display: inline-block;
  margin-left: 650px;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 3.5vw;
  font-family: Bebas Neue; <-폰트 변경-->
}

body {
  background-color: #141414;
}

.netflix-logo {
	width: 150px;
}

.profile {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 20px;
  color: #808080;
  text-align: center;
}

img {
  margin-right: 20px;
}

.main {
  margin-top: 170px;
}
